
body{
    font-family: sans-serif;
    display: grid;
    color: white;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
        to bottom right,
        #C4BBF5 0%,
        #4CACBC 20%,
        #6CC4A1 40%,
        #Add995 60%,
        #F6E9C5 80%
        );

        background-size: 200% 200%;

}

