.Titulos{
    font-family:Impact;
    font-size: 50px;
    color: #fcfcfc ; text-shadow: 1px 1px 1px rgb(0, 0, 0);/*titulos "SVSOF" */
    width:100wv; 
    text-align:center;
}
/* CSS de la animacion Hover */
body{
    box-sizing: border-box;
    font-family: monospace;
    margin: 20px;
}

nav{
    font-family: Arial ;
    background-color: #F6E9C5;/*creo q este es lo blanquito de la barra de navegacion*/
    
}

 
/* cambiar el color de fondo a la barra */
nav.navbar {
    background-color: #1694c5;
}

.lil{
    text-decoration: none !important;
}

.seccionactores{
    background-image: url(imagenes/invernadero.jpg);
    height: 350px;
    color: rgb(253, 204, 147);/*creo q este cambia el color de los botones seleccionado*/
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.secciondirect{
    background-image: url(imagenes/personal.png);
    height: 350px;
    color: rgb(253, 204, 147);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.box{
    
    height: 350px;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.box .hover{
    width: 0%;
    height: 350px;
    background-color: #86d4c1d9;  /* este es para cambiar color de la targeta de usuarios */ 
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .5s all;
}

.hover h1{
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
    font-size: 2.5em;
    text-transform: uppercase;
}

.box:hover .hover{
    width: 100%;
}

